Dans le fichier .env on donne à la valeur voulu une autre valeur ( Mot donne comme exemple world = univers) le fichier .env étant innacessible on obtiens un token caché
Il suffit d'importer la configuration de dotenv : require('dotenv').config puis de remplacer dans les chaines de caractères ou ailleurs ce uqi est écrit par process.env; le nom de la variable 